<!---
/************************************************************************************
 *  WEB322 – Project (Fall 2021)
 *  I declare that this assignment is my own work in accordance with Seneca Academic
 *  Policy. No part of this assignment has been copied manually or electronically from
 *  any other source (including web sites) or distributed to other students.
 * Name: Victor Lozano Alonso
 * Student ID: 130720204
 * Course/Section: WEB322 ZAA
 ************************************************************************************/
 --->
{{#each meal}}
<div class="col mb-3">
        <a href="/{{_id}}">
                <div class="card">
                        <img src="{{imgUrl}}" class="card-img-top" alt="{{mealName}}">
                        <div class="card-body">
                                <h3 class="card-title">{{mealName}}</h3>
                                <p class="card-text">{{ingredients}}</p>
                                <div class="price">{{price}}</div>
                        </div>
                </div>
        </a>
</div>
{{/each}}