<!---
/************************************************************************************
 *  WEB322 – Project (Fall 2021)
 *  I declare that this assignment is my own work in accordance with Seneca Academic
 *  Policy. No part of this assignment has been copied manually or electronically from
 *  any other source (including web sites) or distributed to other students.
 * Name: Victor Lozano Alonso
 * Student ID: 130720204
 * Course/Section: WEB322 ZAA
 ************************************************************************************/
 --->
<h2 class="mt-2 mb-4">Cart Summary</h2>
<div class="container">
<div class="text-center mb-3"><strong>{{message}}</strong></div>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">Mealkit</th>
        <th scope="col">Items</th>
        <th scope="col">Item Price</th>
        <th scope="col">Subtotal</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
            {{#each cart.cartItems}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{qty}}</td>
                    <td>${{price}}</td>
                    <td>${{subtotal}}</td>
                    <td>
                        <button type="button" onclick="window.location.href='/mealkits/{{id}}/remove'" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                    </td>
                </tr>
            {{/each}}
            <tr>
                <td colspan="5"></td>
            </tr>
            <tr class="table-active fs-5">
                <td colspan="4" class="w-75 text-end"><strong>Total</strong></td>
                <td><strong>${{cart.total}}</strong></td>
            </tr>
    </tbody>
    </table>
    {{#if customer}}
        <div class="d-grid gap-2">
            <button type="button" onclick="window.location.href='/checkout'" class="btn btn-danger fs-3 mt-2 mb-4">Place your Order</button>
        </div>
    {{/if}}
</div>