{{#if data}}
<div class="card border-0">
    <img src="{{data.imgUrl}}" class="img-meal-detail" alt="{{data.mealName}}">
    <div class="container-fluid text-center border-bottom pt-3 pb-3 bg-warning bg-gradient">
        <div class="row align-items-start">
            <div class="col border-end border-dark">
                <strong>Cooking Time</strong>
            </div>
            <div class="col border-end border-dark">
                <strong>Servings</strong>
            </div>
            <div class="col">
                <strong>Calories</strong>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col border-end border-dark">
                {{data.cookTime}}
            </div>
            <div class="col border-end border-dark">
                {{data.servings}}
            </div>
            <div class="col">
                {{data.calories}}
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex align-items-center">
            <div class="flex-grow-1 ms-3">
                <h2 class="card-title text-center">{{data.mealName}}</h2>
                <p class="card-text text-center">{{data.ingredients}}</p>
            </div>
            <div class="flex-shrink-0">
                <div class="price fs-2">${{data.price}}</div>
            </div>
        </div>
        <hr>
        <p class="card-text text-center">{{data.description}}</p>

        <div class="d-grid gap-2">
            <button type="button" onclick="window.location.href='/mealkits/{{data._id}}/add'" class="btn btn-danger fs-3" {{#unless customer}}disabled{{/unless}}>Add to Order <i class="fas fa-cart-plus"></i></button>
        </div>

    </div>
</div>
{{/if}}