<!---
/************************************************************************************
 *  WEB322 – Project (Fall 2021)
 *  I declare that this assignment is my own work in accordance with Seneca Academic
 *  Policy. No part of this assignment has been copied manually or electronically from
 *  any other source (including web sites) or distributed to other students.
 * Name: Victor Lozano Alonso
 * Student ID: 130720204
 * Course/Section: WEB322 ZAA
 ************************************************************************************/
 --->
 <div class="card-deck mt-2">
    <h2>List of meals</h2>
{{#each data}}
        <div class="card list-meals mt-3 ms-3 me-3 mb-3">
            <div class="card-body">
                <h3 class="card-title">{{mealName}}</h5>
                <p class="card-text">{{ingredients}}</p>
                <p class="card-text">{{description}}</p>
                <p class="card-text">Price: {{price}}</p>
                <p class="card-text">Category: <strong>{{category}}</strong></p>
            </div>
        </div>
{{/each}}
</div>